@{
    var inputpattern = String.Empty;
    if (ViewBag.Device == "iphone")
    {
        inputpattern = "pattern=[0-9]*";
    }
    else if (ViewBag.Device == "web")
    {
        // web
    }
    else
    {
        inputpattern = "inputmode=numeric";
    }

    var role = "";
    if (User.IsInRole("Admin"))
    {
        role = "Admin";
    }
}

<div class="row" ng-show="ShowingDiv=='Liste'" ng-cloak>
    @*|| ShowingDiv=='detail'*@
    <div class="col">
        <section class="card  card-primary">
            <header class="card-header">
                <!-- <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div> -->
                <div class="row">
                    <div class="col-md-4 d-flex align-items-center justify-content-end">
                        <h2 class="card-title"><i class="fal fa-list"></i> Sipariş Listesi</h2>
                    </div>
                    <div class="col-md-8 d-flex align-items-center justify-content-end" ng-show="Permission.Add == 1">
                        <a href="/siparis/exceldenyukle" class="btn btn-success pull-right excel">Excelden Ekle <i class="fas fa-plus"></i></a>
                        <button id="addToTable" class="btn btn-success pull-right" ng-click="AddItem()">Sipariş Ekle <i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </header>
            <div class="card-body">

                <form class="form-horizontal" name="SearchForm" id="SearchForm" novalidate ng-submit="Search(SearchForm.$valid)">

                    <div class="row mb-20" ng-cloak>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-6 mb-20">
                                    <div class="form-group row">
                                        <label class="col-md-12">Sipariş No</label>
                                        <div class="col-md-12">
                                            <input type="text" class="form-control" ng-model="FilterFormModel.OrderNo" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-20">
                                    <div class="form-group row">
                                        <label class="col-md-12">Müşteri No</label>
                                        <div class="col-md-12">
                                            <ui-select id="criMusteri" name="criMusteri" ng-model="multipleDemo.selectedFirms" theme="select2" ng-disabled="ctrl.disabled" sortable="true"
                                                       close-on-select="true" style="width: 800px;">
                                                <ui-select-match placeholder="Müşteri Seç..." allow-clear="true">{{multipleDemo.selectedFirms.FIRMA_ADI}}</ui-select-match>
                                                <ui-select-choices repeat="person in Musteriler | propsFilter: {ID: $select.search, FIRMA_ADI: $select.search}">
                                                    <div ng-bind-html="person.FIRMA_ADI | highlight: $select.search"></div>
                                                </ui-select-choices>
                                            </ui-select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-6 mb-20">
                                    <div class="form-group row">
                                        <label class="col-md-12">Başlangıç Tarihi</label>
                                        <div class="col-md-12">
                                            <span class="text-danger" ng-show="(SearchForm.CriBeginDate.$dirty || SearchForm.$submitted) && SearchForm.CriBeginDate.$invalid">*</span>
                                            <input type="text" class="form-control" id="CriBeginDate" name="CriBeginDate" ng-model="FilterFormModel.CriBeginDate" ui-mask="99/99/9999"
                                                   ng-pattern="dateFormat" model-view-value="true" ui-mask-placeholder="gg/AA/yyyy" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-20">
                                    <div class="form-group row">
                                        <label class="col-md-12">Bitiş Tarihi</label>
                                        <div class="col-md-12">
                                            <span class="text-danger" ng-show="(SearchForm.CriEndDate.$dirty || SearchForm.$submitted) && SearchForm.CriEndDate.$invalid">*</span>
                                            <input type="text" class="form-control" id="CriEndDate" name="CriEndDate" ng-model="FilterFormModel.CriEndDate" ui-mask="99/99/9999"
                                                   ng-pattern="dateFormat" model-view-value="true" ui-mask-placeholder="gg/AA/yyyy" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mb-20 ">
                            <div class="form-group row">
                                <label class="col-md-12" style="margin-bottom:30px"></label>
                                <div class="col-md-12 d-flex justify-content-end">
                                    <input type="submit" id="btnCri" value="Listele" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

                @*<div class="row">
                        <div class="col-sm-12">
                                <button id="addToTable" class="btn btn-primary pull-right" ng-click="AddItem()">Ekle <i class="fas fa-plus"></i></button>
                        </div>
                    </div>*@
                <table id="entry-grid" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered table-striped mb-0" @*class="table table-hover nowrap"*@></table>
            </div>
        </section>
    </div>
</div>