@{
    //ViewBag.Title = "Kep İK / Personel Excelden Yükle";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var role = "";
    if (User.IsInRole("Admin"))
    {
        role = "Admin";
    }
}

@*<link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />*@
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css">
@*<link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap4.css" />*@
<link rel="stylesheet" href="~/vendor/bootstrap-fileupload/bootstrap-fileupload.min.css" />
<link href='https://rawgit.com/Gary-Li/angular-scrollable-table/master/scrollable-table.css' rel="stylesheet" type="text/css">

<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>

<section role="main" class="content-body" ng-init="Init('@ViewBag.FirmID')">
    <header class="page-header">
        <h2>NERO - Ürünler</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="/">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>Ürün Excelden Yükle</span> </li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>

    @*@{ Html.RenderPartialIf("_MenuBar", Request.IsAuthenticated); }*@

    <!-- start: page -->
    <div class="row" ng-cloak>
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <!-- <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div> -->

                    <h2 class="card-title">Ürün Excelden Yükle</h2>
                </header>

                <div class="card-body" ng-show="ShowingDiv=='SelectExcel'">
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="card alt-card">
                                <header class="card-header">
                                    <h2 class="card-title">Excel Seçenekleri</h2>
                                </header>
                                <div class="card-body">

                                    @*@if (role == "Admin")
                                    {
                                        <div class="form-group row">
                                            <label class="col-lg-3 control-label text-lg-right pt-2">Firma </label>
                                            <select class="form-control mb-3" name="firmID" ng-model="FirmID" ng-change="cmbChanged()" ng-options="item.ID as item.Title for item in Firms | orderBy: 'Title'" required>
                                                <option value="">---Seçiniz---</option>
                                            </select>
                                        </div>
                                    }*@

                                    <div class="form-group row">
                                        <label class="col-lg-12 control-label pt-2">Excel Dosyası</label>
                                        <div class="col-lg-12">
                                            <input type="file" ngf-select="SelectFile($file)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" class="file" />
                                            <div class="d-flex">
                                                <input type="text" name="file-name" id="file-name" class="file-name" readonly="readonly">
                                                <input type="button" class="dosya-btn" value="Yükle" @*ng-click="Upload()"*@>
                                                @*<a href="javascript:void(0);" class="dosya-btn" value="Yükle" ng-click="Upload()">*@
                                            </div>

                                            @*<div class="fileupload fileupload-new" data-provides="fileupload">
                                                    <div class="input-append">
                                                        <div class="uneditable-input">
                                                            <i class="fas fa-file fileupload-exists"></i>
                                                            <span class="fileupload-preview"></span>
                                                        </div>
                                                        <span class="btn btn-default btn-file">
                                                            <span class="fileupload-exists"><i class="fa fa-undo"></i></span>
                                                            <span class="fileupload-new">...</span>
                                                            <input type="file" />
                                                        </span>
                                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload"><i class="fa fa-trash"></i></a>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12">
                                            <select class="form-control mb-3" name="eimza" ng-model="SelectedSheet" ng-options="o for o in SheetNames" ng-change="GetSheetData()">
                                                <option value="">Excel Sayfası Seç...</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-lg-12">
                            <section class="card alt-card">
                                <header class="card-header">
                                    <h2 class="card-title">Sütun Seçimi</h2>
                                </header>
                                <div class="card-body row" ng-show="SelectedSheet==undefined || SelectedSheet==null">
                                    <h4 class="text-danger">Excel sayfası seçiniz!</h4>
                                </div>
                                <div class="card-body row" ng-show="SelectedSheet!=undefined && SelectedSheet!=null">
                                    <div class="col-md-3 mb-20">
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">BUKOD</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="FormModel.BUKOD" ng-change="cmbChanged()" ng-options="o for o in ColumnNames" required>
                                                    <option value="">---Seçiniz---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-20">
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">AKTİF</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="FormModel.ENABLED" ng-options="o for o in ColumnNames" required>
                                                    <option value="">---Seçiniz---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-3 mb-20">
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label" for="soyad">NAME</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="FormModel.NAME" ng-change="cmbChanged()" ng-options="o for o in ColumnNames" required>
                                                    <option value="">---Seçiniz---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-20">
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">NAME_EN</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="FormModel.NAME_EN" ng-options="o for o in ColumnNames" required>
                                                    <option value="">---Seçiniz---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-20">
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">NAME_DE</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="FormModel.NAME_DE" ng-options="o for o in ColumnNames" required>
                                                    <option value="">---Seçiniz---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-20">
                                        <div class="form-group ">
                                            <label class="col-sm-12 control-label">NAME_FR</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="FormModel.NAME_FR" ng-options="o for o in ColumnNames">
                                                    <option value="">---Seçiniz---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-20">
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label">AÇIKLAMA TR</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" ng-model="FormModel.EDITOR_TABLE" ng-change="cmbChanged()" ng-options="o for o in ColumnNames" required>
                                                    <option value="">---Seçiniz---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-20">
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label" for="tckn">AÇIKLAMA EN</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="tckn" ng-model="FormModel.EDITOR_TABLE_EN" ng-options="o for o in ColumnNames" required>
                                                    <option value="">---Seçiniz---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-20">
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label" for="gsmnumber">AÇIKLAMA DE</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="gsmnumber" ng-model="FormModel.EDITOR_TABLE_GR" ng-options="o for o in ColumnNames" required>
                                                    <option value="">---Seçiniz---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 mb-20">
                                        <div class="form-group ">
                                            <label class="col-sm-12 control-label" for="birim">AÇIKLAMA FR</label>
                                            <div class="col-sm-12">
                                                <select class="form-control" name="birim" ng-model="FormModel.EDITOR_TABLE_FR" ng-options="o for o in ColumnNames">
                                                    <option value="">---Seçiniz---</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12 d-flex justify-content-end">
                                        <input type="submit" id="addToTable" value="Excelden Yükle" class="btn pink-btn" disabled="disabled" ng-disabled="isDisabled" ng-click="StartTransferFromExcel()">
                                    </div>

                                </div>
                            </section>
                        </div>
                    </div>

                </div>


                <div class="card-body" ng-show="ShowingDiv=='ExcelData'">
                    @*{{exceldata}}*@

                    <div class="alert alert-primary alert-dismissible fade show" role="alert" ng-show="alert==true">
                        <div ng-bind="'Gönderilen toplam ürün adedi: ' + TotalCount"></div>
                        <div ng-bind="'Yüklenen toplam ürün adedi: ' + SuccededCount"></div>
                        <div>
                            <ul>
                                <li ng-repeat="item in DuplicatedProducts">{{item}}</li>
                            </ul>
                        </div>
                        <button type="button" class="close" @*data-dismiss="alert"*@ aria-label="Close" ng-click="alert=false;">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <header class="card-header">
                        <div class="card-actions">
                            @*<a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                                <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>*@
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <h2 class="card-title">Excel Data</h2>
                            </div>
                            <div class="col-md-6 text-right">
                                <button class="btn btn-default" type="button" ng-click="BackToList()"><i class="fas fa-reply"></i></button>
                            </div>
                        </div>
                    </header>

                    <div class="row">
                        <div class="col-md-6">
                            <h1>
                                <span class="text-primary">Ürün Listesi</span><br />

                            </h1>
                        </div>
                        <div class="col-md-6">
                            Filtre: <input type="text" class="form-control form-control-sm  col-sm-3" ng-model="oemfiltertext" maxlength="20">
                            @*<button id="addToTable" class="btn btn-primary pull-right" ng-click="NewProductOEM()"><i class="fas fa-plus text-white"></i></button>*@
                        </div>
                    </div>
                    <scrollable-table watch="exceldata" resizable ng-style="{height: 600}">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" id="checkAll" ng-model="checkall" ng-change="selectorhideall(checkall)"></th>
                                    <th>BUKOD</th>
                                    <th>NAME</th>
                                    <th>NAME_EN</th>
                                    <th>NAME_DE</th>
                                    <th>NAME_FR</th>
                                    <th>AÇIKLAMA</th>
                                    <th>AÇIKLAMA EN</th>
                                    <th>AÇIKLAMA DE</th>
                                    <th>AÇIKLAMA FR</th>
                                    @*<th>SECNAME</th>
                                    <th>MCATNAME</th>
                                    <th>CATNAME</th>*@
                                    @*<th>Güncelle</th>
        <th>Sil</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-show="exceldata.length == 0">
                                    <td colspan="9">Boş liste.</td>
                                </tr>
                                <tr ng-repeat="(key, value) in exceldata | orderBy: 'BUKOD' | filter: listFilter" ng-init="value.isSelected = false;">
                                    <td><input type="checkbox" ng-model="value.isSelected"></td>
                                    <td ng-bind="value.BUKOD"></td>
                                    <td ng-bind="value.NAME"></td>
                                    <td ng-bind="value.NAME_EN"></td>
                                    <td ng-bind="value.NAME_DE"></td>
                                    <td ng-bind="value.NAME_FR"></td>

                                    <td ng-bind="value.EDITOR_TABLE"></td>
                                    <td ng-bind="value.EDITOR_TABLE_EN"></td>
                                    <td ng-bind="value.EDITOR_TABLE_GR"></td>
                                    <td ng-bind="value.EDITOR_TABLE_FR"></td>

                                    @*<td ng-bind="value.SECNAME"></td>
                                    <td ng-bind="value.MCATNAME"></td>
                                    <td ng-bind="value.CATNAME"></td>*@
                                    @*<td><input type="button" value="Edit" ng-click="EditProductOEM(item.OEMID)" /></td>
        <td><input type="button" value="Delete" ng-click="ShowDeleteOEMPopup(item.OEMID)" /></td>*@
                                </tr>
                            </tbody>
                        </table>
                    </scrollable-table>
                    <div class="row mt-2">
                        <div class="col-md-11">
                            <button id="showImportPopup" class="btn btn-primary pull-right" ng-click="ShowProductImportPopup()"><i class="fas fa-upload text-white"> Kategori Seç & Veri Yükle</i></button>
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>

    @{ Html.RenderPartialIf("_ProductExcelImportActionPopup", Request.IsAuthenticated); }
    <!-- end: page -->
</section>

@section Scripts {
    <script type="text/javascript" src="https://rawgit.com/Gary-Li/angular-scrollable-table/master/angular-scrollable-table.js"></script>


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.2.13/ng-file-upload.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
    <script src="~/js/angularjs/ProductExcelImport.js?@DateTime.Now.Ticks"></script>
    <script src="~/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>
    @*<script src="~/js/examples/examples.datatables.default.js"></script>*@
    @*<script src="~/js/mask.js"></script>*@
    <script src="~/Scripts/moment.min.js"></script>
    @*<script src="~/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>*@
    @*<script src="~/js/bootstrap-datepicker.tr.js"></script>*@

}
