<!-- Modal Form -->
<div id="modalTProductViewForm" class="modal-block modal-block-primary mfp-hide">
    <section class="card">
        <header class="card-header bg-primary">
            <div class="row">
                <div class="col-10 ">
                    <h2 class="card-title text-white" ng-bind="'Tedarikçi Ürün:' + FormModel.BUKOD + ' ' + FormModel.NAME"></h2>
                </div>
                <div class="col-2 text-right">
                    <button class="btn d-flex align-items-center pull-right kapat-btn" ng-click="ClosePopup()"><i class="fas fa-times"></i></button>
                </div>
            </div>
        </header>

        <!-- TProduct View -->
        <div class="card-body" @*ng-show="TUPopup=='TUformview'"*@>

            @*<div class="form-group row">
                    <label class="col-sm-2 text-lg-right col-form-label">TPID</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" ng-model="FormModel.TPID">
                    </div>
                </div>*@
            <div class="row">
                <div class="col-md-3 mb-20">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">BUKOD</label>
                        <div class="col-sm-12">
                            <input type="text" readonly class="form-control" ng-model="FormModel.BUKOD">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-20">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Müş.Ürün No</label>
                        <div class="col-sm-12">
                            <input type="text" readonly class="form-control" ng-model="FormModel.XPSNO">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-20">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Ürün Adı</label>
                        <div class="col-sm-12">
                            <input type="text" readonly class="form-control" ng-model="FormModel.ProductName">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-20">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">AÇIKLAMA</label>
                        <div class="col-sm-12">
                            <input type="text" readonly class="form-control" ng-model="FormModel.EDITOR_TABLE">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-20">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Firma</label>
                        <div class="col-sm-12">
                            <input type="text" readonly class="form-control" ng-model="FormModel.MusteriName">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-20">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Ted.Ürün Adı</label>
                        <div class="col-sm-12">
                            <input type="text" readonly class="form-control" ng-model="FormModel.NAME">
                        </div>
                    </div>
                </div>
                @*<div class="col-md-6 mb-20">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Müş.Ürün Adı DE</label>
                        <div class="col-sm-12">
                            <input type="text" readonly class="form-control" ng-model="FormModel.NAME_DE">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-20">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Müş.Ürün Adı EN</label>
                        <div class="col-sm-12">
                            <input type="text" readonly class="form-control" ng-model="FormModel.NAME_EN">
                        </div>
                    </div>
                </div>*@
                <div class="col-md-6 mb-20">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">OEM</label>
                        <div class="col-sm-12">
                            <input type="text" readonly class="form-control" ng-model="FormModel.OEM">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-20">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">PRICE</label>
                        <div class="col-8">
                            <input type="text" readonly class="form-control" ng-model="FormModel.PRICE  | number:2">
                        </div>
                        <div class="col-4">
                            <input type="text" readonly class="form-control" ng-model="FormModel.CurrencyCode">
                        </div>
                    </div>
                </div>

                <div class="col-md-3 mb-20">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Ekleyen</label>
                        <div class="col-sm-12">
                            <input type="text" readonly class="form-control" ng-model="FormModel.CreatedBy">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-20">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">E.Tarih</label>
                        <div class="col-sm-12">
                            <input type="text" readonly class="form-control" ng-model="FormModel.CreatedOn">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-20">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">Güncelleyen</label>
                        <div class="col-sm-12">
                            <input type="text" readonly class="form-control" ng-model="FormModel.UpdatedBy">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-20">
                    <div class="form-group row">
                        <label class="col-sm-12 col-form-label">G.Tarih</label>
                        <div class="col-sm-12">
                            <input type="text" readonly class="form-control" ng-model="FormModel.UPDATED">
                        </div>
                    </div>
                </div>

            </div>

    </section>
</div>



