<!-- Modal Form -->
<div id="modalProductEditForm" class="modal-block modal-block-primary mfp-hide">
    <section class="card">
        <header class="card-header bg-primary">
            <div class="row">
                <div class="col-10 ">
                    <h2 class="card-title text-white" ng-bind="PopupTitle"></h2>
                </div>
                <div class="col-2 text-right">
                    <button class="btn d-flex align-items-center pull-right kapat-btn" ng-click="ClosePopup()"><i class="fas fa-times"></i></button>
                </div>
            </div>
        </header>

        <!-- MProduct View -->
        <div class="card-body" @*ng-show="MUPopup=='MUformview'"*@>
            <form class="form-horizontal" name="DetailForm" id="DetailForm" novalidate ng-submit="Save(DetailForm.$valid)">
                <div class="row">
                    <div class="col-md-3 mb-20">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">BUKOD</label>
                            <div class="col-sm-12">
                                <input type="text" readonly class="form-control" ng-model="FormModel.BUKOD">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-20">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Ürün Adı</label>
                            <div class="col-sm-12">
                                <input type="text" readonly class="form-control" ng-model="FormModel.NAME">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-20">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Stok Adet</label>
                            <div class="col-sm-12">
                                <input type="number" yr-integer id="B2BStockAmount" name="B2BStockAmount" ng-model="FormModel.B2BStockAmount" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 mb-20">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Baz Fiyat</label>
                            <div class="col-6">
                                <input type="number" yr-integer id="B2BBasePrice" name="B2BStockAmount" ng-model="FormModel.B2BBasePrice" class="form-control">
                            </div>
                            <div class="col-6">
                                <select class="form-control" id="CURRENCY" name="CURRENCY" ng-class="{'text-danger': (DetailForm.B2BCurrencyID.$dirty || DetailForm.$submitted) && DetailForm.B2BCurrencyID.$invalid }"
                                        ng-model="FormModel.B2BCurrencyID"
                                        ng-options="critem.ID as critem.Code for critem in Currencies" required>
                                    <option value="">--Seçiniz--</option>
                                </select>
                                <span style="width:100%;" ng-show="(DetailForm.B2BCurrencyID.$dirty || DetailForm.$submitted) && DetailForm.B2BCurrencyID.$invalid">
                                    <label class="text-danger" ng-show="DetailForm.B2BCurrencyID.$error.required">Zorunlu Alan</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-20">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">İndirimli Fiyat</label>
                            <div class="col-6">
                                <input type="number" yr-integer id="B2BDiscountedPrice" name="B2BDiscountedPrice" ng-model="FormModel.B2BDiscountedPrice" class="form-control">
                            </div>
                            <div class="col-6">
                                <select class="form-control" id="CURRENCY" name="CURRENCY" ng-class="{'text-danger': (DetailForm.B2BCurrencyID.$dirty || DetailForm.$submitted) && DetailForm.B2BCurrencyID.$invalid }"
                                        ng-model="FormModel.B2BCurrencyID"
                                        ng-options="critem.ID as critem.Code for critem in Currencies" required>
                                    <option value="">--Seçiniz--</option>
                                </select>
                                <span style="width:100%;" ng-show="(DetailForm.B2BCurrencyID.$dirty || DetailForm.$submitted) && DetailForm.B2BCurrencyID.$invalid">
                                    <label class="text-danger" ng-show="DetailForm.B2BCurrencyID.$error.required">Zorunlu Alan</label>
                                </span>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3 mb-20">
                        <div class="form-group row">
                            <label class="col-lg-12 control-label">Anasayfa'da görünsün</label>
                            <div class="col-lg-12">
                                <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="FormModel.B2BIsVisibleOnHomepage" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-20">
                        <div class="form-group row">
                            <label class="col-lg-12 control-label">Kategori Anasayfasında görünsün</label>
                            <div class="col-lg-12">
                                <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="FormModel.B2BIsVisibleOnCategoryHomepage" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-20">
                        <div class="form-group row">
                            <label class="col-lg-12 control-label">Yeni Ürün</label>
                            <div class="col-lg-12">
                                <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="FormModel.B2BIsNewProduct" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-20">
                        <div class="form-group row">
                            <label class="col-lg-12 control-label">İndirimde</label>
                            <div class="col-lg-12">
                                <input type="checkbox" ng-true-value="true" ng-false-value="false" ng-model="FormModel.B2BIsOnSale" />
                            </div>
                        </div>
                    </div>

                </div>
                <footer class="card-footer">
                    <div class="row justify-content-end">
                        <input type="submit" class="btn pink-btn" value="Kaydet" />
                    </div>
                </footer>
            </form>

        </div>

    </section>
</div>



