<!-- Modal Form -->
<div id="modalPermissionForm" class="modal-block modal-block-primary mfp-hide" style="max-width: 800px;">
    <section class="card">
        <header class="card-header bg-primary">
            <div class="row">
                <div class="col-10 d-flex align-items-center">
                    <h2 class="card-title">{{UserLevelPopupTitle}}</h2>
                </div>
                <div class="col-2  d-flex align-items-center justify-content-end">
                    <button class="btn kapat-btn pull-right" ng-click="ClosePermissionPopup()"><i class="fas fa-times text-white"></i></button>
                </div>
            </div>
        </header>
        <div class="card-body" ng-show="PermissionPopup == 'list'">
            <div class="row">

                <div class="col-md-6 d-flex align-items-center alt-title mb-20">
                    <h1>İzin Listesi</h1>
                </div>
                <div class="col-md-6 d-flex align-items-center justify-content-end mb-20">
                    <button class="btn pink-btn pull-right" ng-click="SaveUserLevelPermissions()">@*<i class="fas fa-plus text-white"></i>*@KAYDET</button>
                </div>
            </div>
            <scrollable-table watch="PermissionList"  ng-style="{height: 800}">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Yetki Adı</th>
                            <th class="text-center">Görüntüle</th>
                            <th class="text-center">Ekle</th>
                            <th class="text-center">Güncelle</th>
                            <th class="text-center">Sil</th>
                            <th class="text-center">Ara</th>
                            <th class="text-center">Çalıştır</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-show="PermissionList.length == 0">
                            <td colspan="5">Boş liste.</td>
                        </tr>
                        <tr ng-repeat="item in PermissionList">
                            <td ng-bind="item.Name"></td>
                            <td class="text-center"><input type="checkbox" ng-show="(item.HasViewPermission || false) == true" ng-true-value="true" ng-false-value="false" ng-model="item.ViewPermission" /></td>
                            <td class="text-center"><input type="checkbox" ng-show="(item.HasAddPermission || false) == true " ng-true-value="true" ng-false-value="false" ng-model="item.AddPermission" /></td>
                            <td class="text-center"><input type="checkbox" ng-show="(item.HasUpdatePermission || false) == true" ng-true-value="true" ng-false-value="false"  ng-model="item.UpdatePermission" /></td>
                            <td class="text-center"><input type="checkbox" ng-show="(item.HasDeletePermission || false) == true" ng-true-value="true" ng-false-value="false" ng-model="item.DeletePermission" /></td>
                            <td class="text-center"><input type="checkbox" ng-show="(item.HasSearchPermission || false) == true" ng-true-value="true" ng-false-value="false" ng-model="item.SearchPermission" /></td>
                            <td class="text-center"><input type="checkbox" ng-show="(item.HasExecutePermission || false) ==true" ng-true-value="true" ng-false-value="false" ng-model="item.ExecutePermission" /></td>
                        </tr>
                    </tbody>
                </table>
            </scrollable-table>
        </div>
        
    </section>
</div>



