<!-- Modal Form -->
<div id="modalDeletePopupForm" class="modal-block modal-block-primary mfp-hide">
    <section class="card">
            <header class="card-header">
                <h2 class="card-title">Şehir Sil</h2>
            </header>
            <div class="card-body">

                <div class="card-body">
                    "{{DeletingName}}" isimli şehir silinecektir. Devam etmek için Sil butonuna basarak devam edebilirsiniz.
                </div>

            </div>
            <footer class="card-footer">
                <div class="row justify-content-end">
                    <div class="col-sm-6">
                        @*<button class="btn btn-primary">Submit</button>*@
                        <input type="button" class="btn btn-danger" value="Sil" ng-click="delete()" />
                        <button class="btn btn-default modal-dismiss">Kapat</button>
                    </div>
                </div>
            </footer>
    </section>
</div>



