@{
    ViewBag.Title = "Firma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />*@
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css">
@*<link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap4.css" />*@


<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>

<section role="main" class="content-body card-margin">
    <header class="page-header">
        <h2>Firma</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="index.html">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>Firma</span></li>
                <li><span>Liste</span></li>
            </ol>
            <span class="sidebar-right-toggle"></span>
            @*<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>*@
        </div>
    </header>



    <!-- start: page -->
    <div class="row" ng-show="ShowingDiv=='Liste'">
        <div class="col">
            <section class="card">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                    </div>

                    <h2 class="card-title">Firma Listesi</h2>
                </header>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-3">
                                <button id="addToTable" class="btn btn-primary" ng-click="AddItem()">Ekle <i class="fas fa-plus"></i></button>
                            </div>
                        </div>
                    </div>
                    <table id="entry-grid" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered table-striped mb-0" @*class="table table-hover nowrap" *@></table>
                </div>
            </section>
        </div>
    </div>

    @{ Html.RenderPartialIf("_DetailForm", Request.IsAuthenticated); }


    <!-- end: page -->
</section>

@section Scripts {

<script src="~/js/angularjs/Firma.js"></script>
<script src="~/js/examples/examples.datatables.default.js"></script>
<script src="~/js/mask.js"></script>
<script src="~/Scripts/moment.min.js"></script>
    @*
<script src="~/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>*@
    @*
<script src="~/js/bootstrap-datepicker.tr.js"></script>*@

}
