<!-- Modal Form -->
<div id="modalMusteriDeleteForm" class="modal-block modal-block-primary mfp-hide sil-modal">
    <section class="card">
        <header class="card-header">
            <h2 class="card-title">Cari Sil</h2>
        </header>
        <div class="card-body">

            <div class="card-body">
                "{{DeletingTitle}}" cari silinecektir. Devam etmek için Sil butonuna basarak devam edebilirsiniz.
            </div>

        </div>
        <footer class="card-footer">
            <div class="d-flex justify-content-end">
                @*<button class="btn btn-primary">Submit</button>*@
                <input type="button" class="btn btn-danger mr-10" value="Sil" ng-click="deleteMusteri()" />
                <button class="btn btn-default modal-dismiss">Kapat</button>
            </div>
        </footer>
    </section>
</div>



