@{
    var inputpattern = String.Empty;
    if (ViewBag.Device == "iphone")
    {
        inputpattern = "pattern=[0-9]*";
    }
    else if (ViewBag.Device == "web")
    {
        // web
    }
    else
    {
        inputpattern = "inputmode=numeric";
    }

    var role = "";
    if (User.IsInRole("Admin"))
    {
        role = "Admin";
    }
}

<div class="row" ng-show="ShowingDiv=='Liste'">
    @*|| ShowingDiv=='detail'*@
    <div class="col">
        <section class="card card-primary">
            <header class="card-header">
                <!-- <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div> -->
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center">
                        <h2 class="card-title"><i class="fal fa-list"></i> Toplantı Listesi</h2>
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-end">
                        <button id="addToTable" class="btn btn-success excel pull-right" ng-click="AddItem()" style="margin-left:auto;margin-right:10px;">Excelden Toplantı Ekle <i class="fas fa-plus"></i> </button>
                        <button id="addToTable" class="btn btn-success pull-right" ng-click="AddItem()">Toplantı Ekle <i class="fas fa-plus"></i></button>
                    </div>
                </div>
            </header>
            <div class="card-body">

                <form class="form-horizontal" name="SearchForm" id="SearchForm" novalidate ng-submit="Search(SearchForm.$valid)">
                    <div class="row justify-content-center">
                        <div class="col-xl-6"></div>
                        <div class="col-xl-4 mb-20">
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <select class="form-control" name="cmbFilterFirm" ng-model="FilterFormModel.FirmID"
                                            ng-options="item.ID as item.FIRMA_ADI for item in Firmalar">
                                        <option value="">--Tüm Firmalar--</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 mb-20 d-flex align-items-center justify-content-end">
                            <input type="button" id="btnCri" ng-click="Filtrele()" value="Listele" class="btn btn-primary" />
                        </div>
                    </div>


                    @*<footer class="card-footer">
                            <div class="row justify-content-end">
                                <div class="col-sm-6">
                                    <input type="button" id="btnCri" ng-click="Filtrele()" value="Listele" class="btn btn-primary" />
                                </div>
                            </div>
                        </footer>*@

                </form>

                @*<div class="row">
                        <div class="col-sm-12">
                                <button id="addToTable" class="btn btn-primary pull-right" ng-click="AddItem()">Ekle <i class="fas fa-plus"></i></button>
                        </div>
                    </div>*@
                <table id="entry-grid" datatable="" dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="table table-bordered table-striped mb-0" @*class="table table-hover nowrap"*@></table>
            </div>
        </section>
    </div>
</div>