@{
    var inputpattern = String.Empty;
    if (ViewBag.Device == "iphone")
    {
        inputpattern = "pattern=[0-9]*";
    }
    else if (ViewBag.Device == "web")
    {
        // web
    }
    else
    {
        inputpattern = "inputmode=numeric";
    }

    var role = "";
    if (User.IsInRole("Admin"))
    {
        role = "Admin";
    }
}

<div class="card" ng-show="ShowingDiv=='edit'" ng-cloak>
    <div class="card-body p0">
        <form class="form-horizontal" name="DetailForm" id="DetailForm" novalidate ng-submit="Save(DetailForm.$valid)">
            <header class="card-header alt-title">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn geri-btn" type="button" ng-click="BackToList()"><i class="fas fa-reply text-white"></i></button>
                        <h2 ng-bind="'Toplantı > ' + ToplantiHeaderText"></h2>
                    </div>
                </div>
            </header>
            <div class="card-body">
                <div class="row">
                    @*<div class="col-md-6 mb-20">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">No</label>
                            <div class="col-sm-12">
                                <input type="text" readonly class="form-control" ng-model="FormModel.ID">
                            </div>
                        </div>
                    </div>*@
                    <div class="col-md-6 mb-20">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">FİRMA</label>
                            <div class="col-sm-12">
                                <select class="form-control" ng-class="{'error': (DetailForm.FIRMA_ADI.$dirty || DetailForm.$submitted) && DetailForm.FIRMA_ADI.$invalid }"
                                        name="FIRMA_ADI" ng-model="FormModel.FIRMID" ng-change="multipleDemo.selectedYetkiliKisiler=null;"
                                        ng-options="item.ID as item.FIRMA_ADI for item in Firmalar" required>
                                    <option value="">--Firma Seçiniz--</option>
                                </select>
                                <span style="width:100%;" ng-show="(DetailForm.FIRMA_ADI.$dirty || DetailForm.$submitted) && DetailForm.FIRMA_ADI.$invalid">
                                    <label class="error" ng-show="DetailForm.FIRMA_ADI.$error.required">Zorunlu Alan</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-20">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">BU Yetkilileri</label>
                            <div class="col-sm-12">
                                @*<ul>
                        <li ng-repeat="mm in FormModel.ToplantiMembers">{{mm.FullName}}{{$last ? '' : ', '}}</li>
                    </ul>*@
                                <ui-select multiple ng-model="multipleDemo.selectedBUMembers" @*theme="bootstrap"*@ ng-disabled="ctrl.disabled" sortable="true" close-on-select="false">
                                    <ui-select-match placeholder="Bu Yetkilisi Seç...">{{($item.FirstName || '') + " " + ($item.LastName || '') }}</ui-select-match>
                                    <ui-select-choices repeat="person in Members | propsFilter: {FirstName: $select.search, LastName: $select.search}">
                                        <div ng-bind-html="(person.FirstName || '') + ' ' + (person.LastName || '') | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-20">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Firma Yetkilileri</label>
                            <div class="col-sm-12">
                                @*{{multipleDemo.selectedYetkiliKisiler}}*@
                                <ui-select multiple ng-model="multipleDemo.selectedYetkiliKisiler" @*theme="bootstrap"*@ ng-disabled="ctrl.disabled" sortable="true" close-on-select="false">
                                    <ui-select-match placeholder="Yetkili Kişi Seç...">{{($item.ADI || '') + " " + ($item.SOYADI || '')}}</ui-select-match>
                                    <ui-select-choices repeat="person in YetkiliKisiler | filter: filterYK() | propsFilter: {ADI: $select.search, SOYADI: $select.search}">
                                        <div ng-bind-html="(person.ADI || '') + ' ' + (person.SOYADI || '') | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-20">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">Konu</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" ng-model="FormModel.TITLE" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-20">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">SEBEP</label>
                            <div class="col-sm-12">
                                <select class="form-control" ng-class="{'error': (DetailForm.ToplantiSebep.$dirty || DetailForm.$submitted) && DetailForm.ToplantiSebep.$invalid }"
                                        name="ToplantiSebep" ng-model="FormModel.SEBEP"
                                        ng-options="item.ID as item.Title for item in ToplantiSebepler" required>
                                    <option value="">--Toplantı Sebebi Seçiniz--</option>
                                </select>
                                <span style="width:100%;" ng-show="(DetailForm.ToplantiSebep.$dirty || DetailForm.$submitted) && DetailForm.ToplantiSebep.$invalid">
                                    <label class="error" ng-show="DetailForm.ToplantiSebep.$error.required">Zorunlu Alan</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-20">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">TARİH</label>
                            <div class="col-sm-12">
                                <span class="form-control" ng-bind="FormModel.TARIH | date : 'dd.MM.yyyy HH:mm:ss'"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mb-20">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">İçerik</label>
                            <div class="col-sm-12">
                                <text-angular name="Adres" class="form-content" ng-model="FormModel.ICERIK"></text-angular>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 mb-20" ng-show="FormModel.ID != null">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">E.TARİH</label>
                            <div class="col-sm-12">
                                <span class="form-control" ng-bind="FormModel.CreatedOn | date : 'dd.MM.yyyy HH:mm:ss'"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-20" ng-show="FormModel.ID != null">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">EKLEYEN</label>
                            <div class="col-sm-12">
                                <span class="form-control" ng-bind="FormModel.CreatedBy"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-20" ng-show="FormModel.ID != null">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">G.TARİH</label>
                            <div class="col-sm-12">
                                <span class="form-control" ng-bind="FormModel.UpdatedOn | date : 'dd.MM.yyyy HH:mm:ss'"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-20" ng-show="FormModel.ID != null">
                        <div class="form-group row">
                            <label class="col-sm-12 col-form-label">GÜNCELLEYEN</label>
                            <div class="col-sm-12">
                                <span class="form-control" ng-bind="FormModel.UpdatedBy"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <footer class="card-footer">
                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn pink-btn" value="Kaydet" />
                </div>
            </footer>

        </form>
    </div>
</div>


