@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />*@
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css">
<link href='https://rawgit.com/Gary-Li/angular-scrollable-table/master/scrollable-table.css' rel="stylesheet" type="text/css">
<link rel="stylesheet" href="~/vendor/datatables/media/css/datatables.bootstrap4.css" />


<style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
<link href="~/css/select.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.css">*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">

<style>
    .select2 > .select2-choice.ui-select-match {
        /* Because of the inclusion of Bootstrap */
        height: 29px;
    }

    .selectize-control > .selectize-dropdown {
        top: 36px;
    }
    /* Some additional styling to demonstrate that append-to-body helps achieve the proper z-index layering. */
    .select-box {
        background: #fff;
        position: relative;
        z-index: 1;
    }

    .alert-info.positioned {
        margin-top: 1em;
        position: relative;
        z-index: 10000; /* The select2 dropdown has a z-index of 9999 */
    }

    .ui-select-bootstrap > .ui-select-choices, .ui-select-bootstrap > .ui-select-no-choice {
        display: block;
    }
</style>

<section role="main" class="content-body" ng-init="Init('@ViewBag.FirmID')">
    <header class="page-header">
        <h2>Toplantılar</h2>

        <div class="right-wrapper text-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="/">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <li><span>Toplantılar</span> </li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
        </div>
    </header>

    @*@{ Html.RenderPartialIf("_MenuBar", Request.IsAuthenticated); }*@

    <!-- start: page -->
    @{ Html.RenderPartialIf("_MeetingListForm", Request.IsAuthenticated); }
    @{ Html.RenderPartialIf("_MeetingViewForm", Request.IsAuthenticated); }
    @{ Html.RenderPartialIf("_MeetingDetailForm", Request.IsAuthenticated); }
    @{ Html.RenderPartialIf("_MeetingDeletePopupForm", Request.IsAuthenticated); }

    <!-- end: page -->
</section>

@section Scripts {
<script type="text/javascript" src="https://rawgit.com/Gary-Li/angular-scrollable-table/master/angular-scrollable-table.js"></script>
    @*
<script src="~/js/angular-scrollable-table.js"></script>*@
<script src="~/Scripts/textAngular-sanitize.min.js"></script>
<script src="~/Scripts/textAngular.min.js"></script>
<script src="~/js/angularjs/toplantilar.js?@DateTime.Now.Ticks"></script>
<script src="~/js/examples/examples.datatables.default.js"></script>
<script src="~/js/mask.js"></script>
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/fileuploader.js"></script>

    @*
<script src="~/vendor/bootstrap-datepicker/locales/bootstrap-datepicker.tr.min.js"></script>*@
    @*
<script src="~/js/bootstrap-datepicker.tr.js"></script>*@
<script src="~/js/select.js"></script>
}
